.container {
    width: 90%;
    margin: auto;
}

.content {
    min-height: 80vh;
    margin-top: 3rem;
    text-align: center;
}

.hero-style {
    font-size: 4rem;
    font-weight: 700;
    color: #379cf9;
    text-align: center;
}

.subhero-style {
    font-size: 1.5rem;
    font-weight: 300;
    color: #bddefc;
    text-align: center;
    margin-top: 2rem;
}

.btn {
    font-family: "Raleway", san-serif;
    background-color: #379cf9;
    color: #bddefc;
    padding: 0.7rem 2rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.1s;
}

.btn:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

@media screen and (min-width: 900px) {
    .hero-style {
        font-size: 6rem;
    }
    .subhero-style {
        font-size: 2.5rem;
    }
    .content {
        padding: 0rem 10rem;
    }
}
