.logo-style {
    font-size: 1.5rem;
    font-weight: bold;
    color: #379cf9;
}

.logo-style span {
    font-weight: normal;
    font-style: italic;
    color: #bddefc;
}

.logo-style-footer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2f70b0;
}

.logo-style-footer span {
    font-weight: normal;
    font-style: italic;
}
